/rabbitmq_consumer/target/classes/cn/fan/
/springboot_aop/target/classes/cn/fan/aop/
/springboot_security/target/classes/cn/fan/

/springboot_redis/target/classes/
/springboot_redis/target/classes/cn/fan/
/rabbitmq_consumer/target/classes/
/springboot_mybatis_reverse/target/classes/
/test_mongdb/target/
