<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fan.permission.dao.ModuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.fan.permission.entity.Module">
        <id column="module_id" property="moduleId" />
        <result column="module_name" property="moduleName" />
        <result column="module_url" property="moduleUrl" />
        <result column="keyWord" property="keyword" />
        <result column="flag" property="flag" />
        <result column="module_type" property="moduleType" />
        <result column="parent_id" property="parentId" />
        <result column="order_no" property="orderNo" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="image_path" property="imagePath" />
        <result column="user_define" property="userDefine" />
        <result column="delete_status" property="deleteStatus" />
        <result column="support_report" property="supportReport" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!--模块值对象查找权限-->
    <resultMap id="BaseResultMapVo" type="cn.fan.permission.entity.vo.ModuleVo" extends="BaseResultMap">
    </resultMap>
    <!--查询子模块-->
    <select id="queryChildModule" parameterType="java.util.Map" resultMap="BaseResultMapVo">
        SELECT DISTINCT * FROM t_bd_module
        WHERE delete_status = #{deleteStatus,jdbcType=INTEGER}
        <if test="moduleId != null">
            AND parent_id = #{moduleId,jdbcType=INTEGER}
        </if>
        <if test="moduleType != null">
            AND module_type = #{moduleType,jdbcType=INTEGER}
        </if>
        GROUP BY parent_id,order_no
        ORDER BY parent_id,order_no ASC
    </select>

    <!--动态获取角色id-->
    <select id="queryRoleIdDynamic0" parameterType="java.util.Map" resultType="java.lang.Integer"
            statementType="STATEMENT">
        SELECT role_id FROM ${tableName}
        WHERE delete_status = 1
        <if test="empIdList != null">
            AND emp_id IN
            <foreach collection="empIdList" item="empId" separator="," open="(" close=")">
                ${empId}
            </foreach>
        </if>
        -- 路由到用户默认角色关联表
        <if test="adminIdList != null">
            AND admin_id IN
            <foreach collection="adminIdList" item="adminId" separator="," open="(" close=")">
                ${adminId}
            </foreach>
        </if>
        -- 岗位列表查询角色
        <if test="postIdList != null">
            AND post_id IN
            <foreach collection="postIdList" item="postId" separator="," open="(" close=")">
                ${postId}
            </foreach>
        </if>
        <if test="postList != null">
            AND post_id IN
            <foreach collection="postList" item="post" separator="," open="(" close=")">
                ${post.postId}
            </foreach>
        </if>
        -- 组织列表查询角色
        <if test="organizeIdList != null">
            AND organize_id IN
            <foreach collection="organizeIdList" item="organizeId" separator="," open="(" close=")">
                ${organizeId}
            </foreach>
        </if>
        <if test="organizeList != null">
            AND organize_id IN
            <foreach collection="organizeList" item="organize" separator="," open="(" close=")">
                ${organize.organizeId}
            </foreach>
        </if>
    </select>
</mapper>
